[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pandas = "*"
requests = "*"
matplotlib = "*"
tika = "*"
lxml = "*"
beautifulsoup4 = "*"
html5lib = "*"
xlrd = "*"
joypy = "*"

[requires]
python_version = "3.7"
